/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #c0c0c0 !important;
}
.logo-image img {
    width: 100%;
    padding-bottom: 50px;
}

.option-btn {
    background-color: cadetblue !important;
    color: white !important;
    width: 200px !important;
}
.option-btn:hover {
    background-color: white !important;
    color: black !important;
}

#output-column  {
    /* background-color: #7fffd455;
    border: 0;
    border-radius: 10px; */
    padding: 20xp 10px;
}

#input-div button{
    /* margin-left: 10px; */
    background-color: darkgreen;
    color: white;
    border: 0;
    border-radius: 3px;
}
#output-div .edit-btn {
    background-color: lightseagreen !important;
    border: 0 !important;
    padding: 2px 10px !important;
    border-radius: 3px !important;
    /* margin-bottom: 5px !important; */

}
#output-div .edit-btn:hover {
    color: white !important;
}
#output-div .delete-btn {
    background-color: indianred !important;
    border: 0 !important;
    padding: 2px 10px !important;
    border-radius: 3px !important;
    /* margin-left: 10px !important; */
    /* margin-bottom: 5px !important; */
}
#output-div .delete-btn:hover {
    color: white !important;
}

#input-div input {
    margin-left: 10px;
}

.is-hidden {
    display: none; 
}


#output-column #output-div {
    text-align: center !important;
    padding: 20px 0 !important;
}

#output-column #output-div .employees {

background-color: powderblue;    /* width: 100% !important; */
    box-shadow: 0px 0px 3px #888888 !important;
    padding: 5px 5px !important;
    border-radius: 3px !important;
}